<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>djangoBasics</title>
    <style>
        body{
            color:white;
            background-color:black;
        }
        h1{
            font-size:100px;
            font-style:None;
            text-align:center;
            width: 100%;
            height: 90%;
        }
        a{
            font-size:250px;
            color:green;
        }
    </style>
</head>
<body>
    <h1>This is HOME PAGE.</h1>
    {% comment %} <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form> {% endcomment %}
    <form method="POST">
        {% csrf_token %}
        {{form.as_table}}
        <button type="submit">Request</button>
    </form>
    <a href="{% url 'firstpage'%}">Go to FIRST PAGE.</a>
</body>
</html>