<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>djangoBasics</title>
</head>
<body>
    <h1>Django Basics.</h1>
    {% comment %} <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form> {% endcomment %}
    <form method="POST">
        {% csrf_token %}
        {{form.as_table}}
        <button type="submit">Request</button>
    </form>
</body>
</html>